$mine-border-light: #ffffff;
$mine-border-dark: #808080;

$border-size: 2px;

.tile {
    height: 0;
    background-color: #c0c0c0;

    &:not(.dug) {
        border-left: $border-size solid $mine-border-light;
        border-top: $border-size solid $mine-border-light;
        border-right: $border-size solid $mine-border-dark;
        border-bottom: $border-size solid $mine-border-dark;

        &:hover {
            background-color: #b3b2b2;
        }
    }

    &:after, &:before {
        content: '';

        display: block;
        padding-bottom: calc(47% - 0.5em);
    }
}

.mine {
    background-color: black;
}